* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --font: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: var(--grey-100);
  font-family: var(--font);
}

main {
  padding: 1em 2em;
  display: grid;
  flex-direction: column;
  gap: 1em;
  height: auto;
}

section {
  padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 5px;

}
.left{
  display: grid;
  gap: 1em;
}
section img {
  border-radius: 50px;
}

.profile {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

p {
  font-size: 1rem;
}

.daniel {
  background-color: var(--purple-500);
  color: var(--white);

}

.jonathan {
  background-color: var(--grey-500);
  color: var(--white);
}

.jeanette {
  background-color: var(--white);
}

.patrick {
  background-color: var(--black);
  color: var(--white);
}

.kira {
  background-color: var(--white);
}

.daniel img {
  border: 3px solid var(--purple-300);

}

.jonathan img {
  border: 3px solid var(--grey-100);
}

.jeanette img {
  border: 3px solid var(--grey-300);
}

.patrick img {
  border: 3px solid var(--purple-500);
}



.kira img {
  border: 3px solid var(--grey-300);
}



h3 {
  font-weight: normal;
}



h2 {
  position: relative;
  font-size: clamp(1rem, 3vw, 1.4rem);
  text-align: left;
  z-index: 2;
  font-weight: 500;
}



.name p {
  color: var(--grey-200);
}

.name h3 {
  color: var(--grey-300);
}

.jeanette p {
  color: var(--grey-400);
}

.kira p {
  color: var(--grey-400);
}

p {
  font-size: 14px;
}

.daniel .quote {
  border: none;
}

.quote {
  position: absolute;
  top: 5%;
  left: 80%;
  border: none;
  z-index: 1;
  border-radius: 0%;
}

@media(min-width:1024px) {
  main {
    padding: 7em;
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .quote {
    top: 20%;
    left: 35%;
  }

  .left {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 1em;
  }

  .daniel {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .jonathan {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  .jeanette {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .patrick {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}

@media(min-width:375px) and (max-width:750px) {
  h3 {
    position: relative;
    z-index: 2;
  }

  .quote {
    top: 4%;
    left: 60%;
  }
}